.container {
  font-family: monospace;
}

.center {
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.header {
  width: 100%;
  height: 970px;
  background-color: #F6EBDA;
  flex-direction: row;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 26px;
}

/* Menu css */
.menubar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 145px;
  height: 30px;
}

.menu-item {
  font-size: 18px;
  align-items: center;
}

.menu-button {
  border: none;
  background-color: #F6EBDA;
}

.menu-button:hover {
  color: #FF902A;
}

.search {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 35px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-text {
  margin-bottom: 0;
}

.cart-icon {
  width: 32px;
  height: 32px;
  margin-left: 24px;
}

/* Banner css */
.banner {
  margin-top: 150px;
}

.banner-title {
  font-size: 48px;
  font-weight: bold;
}

.banner-title-c {
  color: #FF902A;
}

.banner-description {
  color: grey;
  font-size: 18px;
}

.order-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2F2105;
  padding: 10px;
  border-radius: 33px;
}

.order-text {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}

.order-icon {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.more-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #F6EBDA;
  color: #FF902A;
  font-size: 14px;
  font-weight: bold;
}

.coffee-icon {
  width: 600px;
  height: 416px;
  margin-top: -58px
}

.coffee-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coffee-left-icon {
  width: 569px;
  height: 394px;
  margin-left: -135px;
}

.coffee-right-icon {
  width: 599px;
  height: 394px;
  margin-left: -135px;
  margin-top: -600px;
  margin-right: -135px;
}

/* popular */
.popular {
  padding: 86px;
  margin-top: -25%;
}

.popular-title-text {
  font-size: 32px;
  font-weight: bold;
  margin-left: 49px;
}

.popular-title-c {
  text-decoration: underline;
  text-decoration-color: #FF902A;
}

.product {
  width: 355px;
  height: 385px;
  margin-left: 63px;
}

.product-item {
  width: 355px;
  height: 385px;
  margin-left: 63px;
}

.product:hover {
  cursor: pointer;
}

.rectangle {
  width: 100%;
  height: 367px;
  margin-top: -20%;
}

.special-menu {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}

.menu {
  cursor: pointer;
}

.text {
  font-weight: bold;
  position: absolute;
  margin-top: -320px;
  margin-left: 250px;
}

.text1 {
  position: absolute;
  margin-top: -270px;
  margin-left: 250px;
}

.card_special {
  margin-top: -390px;
  margin-left: 600px;
}

.testimonial,
.newsletter {
  padding-bottom: 200px;
}

.newsletter-text {
  font-weight: bold;
  color: white;
  margin-top: -280px;
  margin-left: 450px;
}

.newsletter-input {
  width: 30%;
  margin-left: 500px;
}
.ant-btn-primary {
  background-color: rgba(67, 50, 50, 0.882);
  border: none;
}
.ant-btn-primary:hover {
  background-color: rgba(36, 70, 99, 0.882);
}

.about-us {
  padding-left: 120px;
  padding-right: 120px;
  background-image: url('./assets/bgb-image.png');
  background-size: cover;
  padding: 120px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50px;
  margin-top: -100px;
  margin-bottom: 50px;
}

.map {
  width: 600px;
  height: 400px;
}

.about-text {
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
}