.container {
  font-family: monospace;
}

.header {
  width: 100%;
  height: 970px;
  background-color: #F6EBDA;
  flex-direction: row;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 26px;
}

/* Menu css */
.menubar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 145px;
  height: 30px;
}

.menu-item{
  font-size: 18px;
  align-items: center;
}

.search {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 35px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-text {
  margin-bottom: 0;
}

.cart-icon {
  width: 32px;
  height: 32px;
  margin-left: 24px;
}

/* Banner css */
.banner {
  margin-top: 150px;
}

.banner-title {
  font-size: 48px;
  font-weight: bold;
}

.banner-title-c {
  color: #FF902A;
}

.banner-description {
  color: grey;
  font-size: 18px;
}

.order-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2F2105;
  padding: 10px;
  border-radius: 33px;
}

.order-text {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}

.order-icon {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.more-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #F6EBDA;
  color: #FF902A;
  font-size: 14px;
  font-weight: bold;
}

.coffee-icon {
  width: 600px;
  height: 416px;
  margin-top: -58px
}

.coffee-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coffee-left-icon {
  width: 569px;
  height: 394px;
  margin-left: -135px;
  margin-top: -160px;
}

.coffee-right-icon {
  width: 599px;
  height: 394px;
  margin-left: -135px;
  margin-top: -600px;
  margin-right: -135px;
}

/* popular */